<div class="container">
    <div class="header"> Seller Review</div>
    <form [formGroup]="form">
        <div class="content">
            <div>Give Your Rating Here</div>
            <div class="rate" >
                <input type="radio" id="star5" formControlName="rating" value="5"  />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" formControlName="rating" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" formControlName="rating" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" formControlName="rating" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" formControlName="rating" value="1" />
                <label for="star1" title="text">1 star</label>
              </div><br><br><br>
              <div>
                <label>Write Your Review Here</label><br>
                <textarea cols="60" rows="4" class="form-control" formControlName="review" maxlength="100"></textarea>
                <p class="text-danger" *ngIf="form.controls ['review'].errors?.['required'] &&  form.controls['review'].dirty">Write Review before Submit</p>
              </div>
            
        </div>
    
        <div class="actions">
            <button class="btn btn btn-danger" (click)="service.showDialog=false">Close</button>
            <button type="button" class="btn btn-success" [disabled]="form.invalid"  (click)="datafromUser(form.value)">Submit Feedback</button>
        </div>    
    </form>
    
</div>

